<div class="about-container">
  <h2>About us</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit ad modi
    omnis quo. Vel molestiae sint rem natus quibusdam iusto. Repudiandae animi
    omnis ipsam aperiam amet quos nesciunt? Voluptates, voluptatum?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint accusamus
    quod perspiciatis, nisi cupiditate laborum maiores provident, laboriosam
    laudantium unde corporis illum quis porro quam. Corrupti odio consequuntur
    suscipit cupiditate?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quia dolorum
    repudiandae at facilis provident molestias veniam quam officia nam,
    praesentium nemo illum fuga iusto recusandae blanditiis sint voluptates
    modi?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit est voluptas
    quibusdam adipisci? Cumque maxime ratione facilis dolores optio tempore
    libero voluptas repellendus. Sed aliquid dolor voluptatum, eveniet quod
    nemo.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus sit
    beatae velit, dolore quam eligendi repudiandae quidem dignissimos
    perspiciatis aperiam repellendus eos possimus molestias adipisci magni cum
    iste veritatis rem!
  </p>
</div>
