
<div class="container overflow-hidden myContainer my-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card text-bg-dark g-0 h-100 border border-0">
                <img src="./assets/images/amazon.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title price">Card title</h5>
                </div>
                <div class="card-img-overlay">
                  <h3 class="card-title text position-absolute top-50 start-50">Card title</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark g-0 h-100 border border-0">
                <img src="./assets/images/fjords.jpg" class="card-img h-100" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title price">Card title</h5>
                  </div>
                  <div class="card-img-overlay">
                    <h3 class="card-title text position-absolute top-50 start-50">Card title</h3>
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark g-0 h-100 border border-0">
                <img src="./assets/images/safari.jpg" class="card-img h-100" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title price">Card title</h5>
                  </div>
                  <div class="card-img-overlay">
                    <h3 class="card-title text position-absolute top-50 start-50">Card title</h3>
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark g-0 h-100 border border-0">
                <img src="./assets/images/skiing.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title price">Card title</h5>
                  </div>
                  <div class="card-img-overlay">
                    <h3 class="card-title text position-absolute top-50 start-50">Card title</h3>
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark g-0 h-100 border border-0">
                <img src="./assets/images/surfing.jpg" class="card-img h-100" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title price">Card title</h5>
                  </div>
                  <div class="card-img-overlay">
                    <h3 class="card-title text position-absolute top-50 start-50">Card title</h3>
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark g-0 h-100 border border-0">
                <img src="./assets/images/thailand.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title price">Card title</h5>
                  </div>
                  <div class="card-img-overlay">
                    <h3 class="card-title text position-absolute top-50 start-50">Card title</h3>
                  </div>
            </div>
        </div>
      </div>
</div>


